
  /*　画面サイズ 560pxまで適用　*/
@media screen and (max-width: 560px) { 

  header{
    background-color:rgb(90, 200, 255);
  
  }
  
  .container{
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  
  .container > .icon > a > img{
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  
  
  .works{
    width: 90%px;
    
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    font-size: 200%;
    text-align: center;
  }
  
  /*1*/
  .works  > .itititle > h1{
    font-weight: normal;
    font-size: 130%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0%;
  }
    
  .works  > .itititle > #iti > a{
    display: inline-block;
  }



  /*2*/
  .works  > .nititle > h1{
    font-weight: normal;
    font-size: 130%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0%;
  }
   
  
  
  
  
  .keisann{
    display:flex;
    width: 95%;
    height: 70px;
 
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align:center
  }
  
  .keisann > .mondai{
    display:flex;
    font-size: 200%;
    width: 65%;
 
  }
  .keisann > .mondai > #aaa{
    width: 25%;
    text-align:center
  }
  .keisann > .mondai > #bbb{
    width: 25%;
    text-align:center
  }
  .keisann > .mondai > #ccc{
    width: 25%;
    text-align:center
  }
  .keisann > .mondai > #ddd{
    width: 25%;
    text-align:center
  }
  
  .keisann > .kaitou {
    width: 35%;
    display:flex;
  }
  .keisann > .kaitou >#eee{
    display:flex;
    width: 60%;
    font-size: 200%;
  }
  .keisann > .kaitou >#fff{
    display:flex;
    width: 40%;
    font-size:200%;
  }
  
  
  
  
  
  
  .nyuuryoku{
  
    width: 90%;
    font-size: 400%;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px #6091d3;/*線*/
    border-radius: 5%;/*角の丸み*/
    
    
  }
  
  /*一段目*/
  .nyuuryoku > .one{
   display:flex;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3%;
   margin-bottom: 3%;
  }
  .nyuuryoku > .one > #b7b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .one > #b8b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .one > #b9b{
    width: 33%;
    text-align:center
  }
    
  /*二段目*/
  .nyuuryoku > .two{
    display:flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
   }
   .nyuuryoku > .two > #b4b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .two > #b5b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .two > #b6b{
    width: 33%;
    text-align:center
  }
  
  /*三段目*/
  .nyuuryoku > .three{
    display:flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
   }
   .nyuuryoku > .three > #b1b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .three > #b2b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .three > #b3b{
    width: 33%;
    text-align:center
  }
  
  /*四段目*/
  .nyuuryoku > .fore{
    display:flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .nyuuryoku > .fore > #b0b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .fore > #bdelb{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .fore > #bokb{
    width: 33%;
    text-align:center
  }
}
  
    
    /*　画面サイズ 561pxから960pxまで適用　*/
  @media screen and (min-width: 561px) and (max-width: 960px) {
  
    header{
      background-color:rgb(90, 200, 255);
    
    }
    
    .container{
      width: 600px;
      height: 120px;
      margin-left: auto;
      margin-right: auto;
    
      align-items: center;
    }
    .container > .icon > a >img {
      width: 600px;
      height: 120px;
    }
    
    
    .works{
      width: 80%;
      
      margin-left: auto;
      margin-right: auto;
      font-weight: normal;
      font-size: 200%;
      text-align: center;
    }
    
    /*1*/
    .works  > .itititle > h1{
      font-weight: normal;
      font-size: 130%;
      text-align: center;
      margin-top: 10px;
      margin-bottom:10px;
    }
      
    .works  > .itititle > #iti > a{
      display: inline-block;
    }
  
    /*2*/
    .works  > .nititle > h1{
      font-weight: normal;
      font-size: 130%;
      text-align: center;
      margin-top: 10px;
      margin-bottom:10px;
    }
     
    
    
    
    
    .keisann{
      display:flex;
      height: 70px;
      width: 500px;
      margin-top: 1%;
      margin-bottom: 1%;
      margin-left: auto;
      margin-right: auto;
    }
    
    .keisann > .mondai{
      display:flex;
      font-size: 300%;
      width: 65%;
      margin-right: auto;
    }
    .keisann > .mondai > #aaa{
      width: 25%;
      text-align:center
    }
    .keisann > .mondai > #bbb{
      width: 25%;
      text-align:center
    }
    .keisann > .mondai > #ccc{
      width: 25%;
      text-align:center
    }
    .keisann > .mondai > #ddd{
      width: 25%;
      text-align:center
    }
    
    .keisann > .kaitou {
      width: 35%;
      display:flex;
    }
    .keisann > .kaitou >#eee{
      display:flex;
      width: 60%;
      font-size: 300%;
    }
    .keisann > .kaitou >#fff{
      display:flex;
      width: 40%;
      font-size: 300%;
    }
    
    
    
    
    
    
    .nyuuryoku{
    
      width: 750px;
      font-size: 400%;
      margin-left: auto;
      margin-right: auto;
      border: solid 3px #6091d3;/*線*/
      border-radius: 5%;/*角の丸み*/
      
      
    }
    
    /*一段目*/
    .nyuuryoku > .one{
     display:flex;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 3%;
     margin-bottom: 3%;
    }
    .nyuuryoku > .one > #b7b{
      width: 33%;
      text-align:center
    }
    .nyuuryoku > .one > #b8b{
      width: 33%;
      text-align:center
    }
    .nyuuryoku > .one > #b9b{
      width: 33%;
      text-align:center
    }
      
    /*二段目*/
    .nyuuryoku > .two{
      display:flex;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3%;
      margin-bottom: 3%;
     }
     .nyuuryoku > .two > #b4b{
      width: 33%;
      text-align:center
    }
    .nyuuryoku > .two > #b5b{
      width: 33%;
      text-align:center
    }
    .nyuuryoku > .two > #b6b{
      width: 33%;
      text-align:center
    }
    
    /*三段目*/
    .nyuuryoku > .three{
      display:flex;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3%;
      margin-bottom: 3%;
     }
     .nyuuryoku > .three > #b1b{
      width: 33%;
      text-align:center
    }
    .nyuuryoku > .three > #b2b{
      width: 33%;
      text-align:center
    }
    .nyuuryoku > .three > #b3b{
      width: 33%;
      text-align:center
    }
    
    /*四段目*/
    .nyuuryoku > .fore{
      display:flex;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3%;
      margin-bottom: 3%;
    }
    .nyuuryoku > .fore > #b0b{
      width: 33%;
      text-align:center
    }
    .nyuuryoku > .fore > #bdelb{
      width: 33%;
      text-align:center
    }
    .nyuuryoku > .fore > #bokb{
      width: 33%;
      text-align:center
    }
  }







/*　画面サイズ 961px以上から適用　*/
@media screen and (min-width:961px) {

  header{
    background-color:rgb(90, 200, 255);
  
  }
  
  .container{
    width: 600px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  
    align-items: center;
  }
  .container > .icon > a >img {
    width: 600px;
    height: 120px;
  }
  
  
  .works{
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    font-size: 200%;
    text-align: center;
  }
  
  /*1*/
  .works  > .itititle > h1{
    font-weight: normal;
    font-size: 200%;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
  }
    
  .works  > .itititle > #iti > a{
    /*横幅が変わってもリンクを並べる　綺麗に　変異改行せず*/
    display: inline-block;
  }

  /*2*/
  .works  > .nititle > h1{
    font-weight: normal;
    font-size: 200%;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
  }
   
  
  
  
  
  .keisann{
    display:flex;
    height: 70px;
    width: 500px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .keisann > .mondai{
    display:flex;
    font-size: 300%;
    width: 65%;
    margin-right: auto;
  }
  .keisann > .mondai > #aaa{
    width: 25%;
    text-align:center
  }
  .keisann > .mondai > #bbb{
    width: 25%;
    text-align:center
  }
  .keisann > .mondai > #ccc{
    width: 25%;
    text-align:center
  }
  .keisann > .mondai > #ddd{
    width: 25%;
    text-align:center
  }
  
  .keisann > .kaitou {
    width: 35%;
    display:flex;
  }
  .keisann > .kaitou >#eee{
    display:flex;
    width: 60%;
    font-size: 300%;
  }
  .keisann > .kaitou >#fff{
    display:flex;
    width: 40%;
    font-size: 300%;
  }
  
  
  
  
  
  
  .nyuuryoku{
  
    width: 750px;
    font-size: 400%;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px #6091d3;/*線*/
    border-radius: 5%;/*角の丸み*/
    
    
  }
  
  /*一段目*/
  .nyuuryoku > .one{
   display:flex;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 3%;
   margin-bottom: 3%;
  }
  .nyuuryoku > .one > #b7b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .one > #b8b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .one > #b9b{
    width: 33%;
    text-align:center
  }
    
  /*二段目*/
  .nyuuryoku > .two{
    display:flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
   }
   .nyuuryoku > .two > #b4b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .two > #b5b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .two > #b6b{
    width: 33%;
    text-align:center
  }
  
  /*三段目*/
  .nyuuryoku > .three{
    display:flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
   }
   .nyuuryoku > .three > #b1b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .three > #b2b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .three > #b3b{
    width: 33%;
    text-align:center
  }
  
  /*四段目*/
  .nyuuryoku > .fore{
    display:flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .nyuuryoku > .fore > #b0b{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .fore > #bdelb{
    width: 33%;
    text-align:center
  }
  .nyuuryoku > .fore > #bokb{
    width: 33%;
    text-align:center
  }
  
    
}
